<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<!--<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div> -->
<div id="container">
</div>

<script>
Highcharts.chart('container', {

    title: {
        text: "Physical"
    },

    subtitle: {
        text: 'Top 10 players'
    },
    xAxis: {
        categories: gon.player_names
    },
    yAxis: {
        title: {
            text: 'Values'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    series: [{
        name: 'Aggression',
        data: [63,48,56,78,80,65,84,82,54,62]        
    }, {
        name: 'Stamina',
        data: [92,74,79,89,79,78,75,75,77,83]
    }, {
        name: 'Strenght',
        data: [80,59,49,76,84,80,93,91,65,58]
    }, {
        name: 'Jumping',
        data: [95,68,61,69,84,85,72,75,59,67]
    }]

});
</script>
