<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<!--<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div> -->
<div id="container">
</div>

<script>
Highcharts.chart('container', {

    title: {
        text: "Shoot"
    },

    subtitle: {
        text: 'Top 10 players'
    },
    xAxis: {
        categories: ['Cristiano Ronaldo (94)', 'Lionel Messi (93)', 'Neymar (92)', 'Luis Suárez (92)', 'Robert Lewandowski (90)', 'Gareth Bale (90)', 'Zlatan Ibrahimović (90)', 'Jérôme Boateng (89)', 'Eden Hazard (89)', 'Luka Modrić (89)']
    },
    yAxis: {
        title: {
            text: 'Values'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    series: [{
        name: 'Shot Power',
        data: [92, 85, 78, 87, 86, 91, 93, 79, 79, 73]        
    }, {
        name: 'Finishing',
        data: [93, 95, 89, 94, 91, 87, 90, 34, 81, 71]
    }, {
        name: 'Long Shots',
        data: [90, 88, 77, 86, 82, 90, 88, 58, 82, 82]
    }, {
        name: 'Penalties',
        data: [85, 74, 81, 85, 81, 76, 91, 46, 86, 80]
    }, {
        name: 'Volleys',
        data: [88, 85, 83, 88, 86, 76, 93, 53, 79, 74]
    }]

});
</script>
