
<div id="container">
</div>

<script>

Highcharts.chart('container', {
    title: {
        text: "Pace"
    },

    subtitle: {
        text: 'Top 10 players'
    },
    xAxis: {
        categories: gon.player_names
    },
    yAxis: {
        title: {
            text: 'Values'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    series: [{
        name: 'Acceleration',
        data: gon.attributes[0]//[91, 92, 93, 88, 79, 93, 69, 74, 93, 77]        
    }, {
        name: 'Speed',
        data: gon.attributes[1]//[92, 87, 90, 77, 82, 95, 74, 81, 87, 71]
    }]

});
</script>
