<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<!--<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div> -->
<div id="container">
</div>

<script>
 Highcharts.chart('container', {
    title: {
        text: 'Top 10 players'
    },
    xAxis: {
        categories: ['Pace', 'Shoot', 'Pass', 'Dribble', 'Defense', 'Physic']
    },
    yAxis: {
        max: 100
    },
    series: [{
        type: 'column',
        color: Highcharts.getOptions().colors[0],
        name: gon.player_names[0],
        data: [92, 92, 81, 91, 33, 80]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[1],
        name: gon.player_names[1],
        data: [89, 90, 86, 96, 26, 61]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[2],
        name: gon.player_names[2],
        data: [91, 84, 78, 95, 30, 56]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[3],
        name: gon.player_names[3],
        data: [82, 90, 79, 87, 42, 79]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[4],
        name: gon.player_names[4],
        data: [81, 87, 74, 85, 38, 82]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[5],
        name: gon.player_names[5],
        data: [94, 87, 84, 86, 57, 76]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[6],
        name: gon.player_names[6],
        data: [72, 90, 81, 85, 31, 86]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[7],
        name: gon.player_names[7],
        data: [79, 50, 72, 68, 90, 85]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[8],
        name: gon.player_names[8],
        data: [90, 82, 83, 92, 32, 65]
    }, {
        type: 'column',
        color: Highcharts.getOptions().colors[9],
        name: gon.player_names[9],
        data: [74, 75, 86, 89, 72, 66]
    }, {
        type: 'spline',
        name: 'Average',
        data: [84.4, 82.7, 80.4, 87.4, 45.1, 73.6],
        marker: {
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[11],
            fillColor: 'white'
        }
    }]
});



</script>

